<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron mt-2">
      <h1>{{ titulo }}</h1>
      <p>Gestiona tus productos con la aplicación web SPA creado con angular desde cero.</p>
      <p>
        <a [routerLink]="['/productos']" class="btn btn-lg btn-primary mr-2">Ver Productos</a>
        <a href="#" class="btn btn-lg btn-success">Añadir Productos</a>
      </p>
  </div>
</div>
