<h2>Listado de Productos</h2>
<div *ngIf="!productos">Cargando ...</div>


<table class="table" *ngIf="productos">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productos">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.nombre }}</td>
      <td>{{ item.precio }}</td>
      <td>{{ item.descripcion }}</td>
      <td>{{ item.imagen }}</td>
    </tr>
  </tbody>
</table>
