    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/']">Productos Angular</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
          <a class="nav-item nav-link" [routerLink]="['/productos']" [routerLinkActive]="['active']">Productos</a>
          <a class="nav-item nav-link" [routerLink]="['/new-producto']" [routerLinkActive]="['active']">Crear
            Producto</a>
      </div>
      </div>
    </nav>
